html,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: 'Monument Extended';
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    max-height: 70vh;
    background-color: rgb(29, 29, 29);
}

.write{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-box {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
}


.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.image {
    display: flex;
    padding: 5px;
    gap: 1rem;
    border-radius: 5px;
}


.quote {
    display: flex;
    align-items: center;
    font-size: .8rem;
    font-family: 'SF Mono';
    color: #ea7186;
    text-align: center;
}

.h2 {
    font-size: .9rem;
    font-family: 'SF Mono';
    color: #15e1f8;
    line-height: 2px;
}

