html,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    max-height: 80vh;
    background-color: #ebe8e7;
}

.container-box {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.box {
    height: 25rem;
    width: 25rem;
}

.container2 {
    display: flex;
    gap: 1rem;
}

.nav {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding-left: 3rem;
}

span {
    text-decoration: 2px underline #f2c76e;
}

.image-container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.image {
    display: flex;
    padding: 5px;
    gap: 1rem;
 
    border-radius: 5px;
}

.image2 {
    display: flex;
    gap: 1rem;
}

.quote {
    display: flex;
    align-items: baseline;
    font-size: 1rem;
    font-family: 'Apparel Black It';
    color: #ea7186;
}

.h1 {
    font-size: 2rem;
    font-family: 'Apparel Bold';
    color: #7a77b9;
}

.h2 {
    font-size: 1.5rem;
    font-family: 'Apparel Bold';
    color: #7a77b9;
}

.skills {
    font-size: 1rem;
    font-family: 'Apparel Bold';
}

.react {
    background-color: #f6870f;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
}


img {
    border-radius: 15px;
}